init_config: null
instances:
- built_by: RabbitMQ
  exchanges:
  - nova
  - cinder
  - glance
  - keystone
  - neutron
  - heat
  - ironic
  name: RabbitMQ
  nodes:
  - rabbit@{{ ansible_hostname }}
  queues:
  - conductor
  rabbitmq_api_url: "http://{{ hostvars[inventory_hostname]['ansible_' + monasca_agent_rabbitmq_interface]['ipv4']['address'] }}:15672/api/"
  rabbitmq_pass: {{ monasca_agent_rabbitmq_password }}
  rabbitmq_user: monitoring
