---
clouds:
  {{ keystone_user_config_name }}:
    auth:
      auth_url: {{ keystone_user_os_auth_url }}
      project_name: {{ keystone_user_os_project_name }}
      username: p3-monitor
      password: {{ keystone_user_os_password }}
    region: {{ keystone_user_os_region}}
